<form method="POST" action="/new">
  <h2>Send a new message!</h2>
  <label for="message">Message: </label>
  <input type="text" id="message">
  <label for="username">Username</label>
  <input type="text" id="username">
  <button type="submit">Post</button>
</form>