<ul>
  <% messages.forEach(function(message) { %>
    <li>
      <strong><%= message.username %></strong>: <%= message.text %> (Posted on <%= message.date.toLocaleDateString() %>)
      <form action="/message/<%= message.id %>" method="GET">
        <button type="submit">Open</button>
      </form>
    </li>
  <% }) %>
</ul>
